flyway.url=jdbc:mysql://localhost:3306/parking_mgmt?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
flyway.user=parking_root
flyway.password=RootPassword@123
flyway.locations=filesystem:db/migrations
flyway.baselineOnMigrate=true
flyway.validateOnMigrate=true